In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
animals_slaughtered = pd.read_csv('../data/animals-slaughtered-for-meat.csv')

In [6]:
global_production = pd.read_csv('../data/global-meat-production-by-livestock-type.csv')

In [3]:
animals_slaughtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13853 entries, 0 to 13852
Data columns (total 9 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   Entity                                                                                    13853 non-null  object
 1   Code                                                                                      11274 non-null  object
 2   Year                                                                                      13853 non-null  int64
 3   Meat, cattle | 00000867 || Producing or slaughtered animals | 005320 || animals           13583 non-null  float64
 4   Meat, goat | 00001017 || Producing or slaughtered animals | 005320 || animals             12387 non-null  float64
 5   Meat, chicken | 00001058 || Producing or slaughtered animals | 005321 || animals          13729 non-null  float64
 6   Meat, turkey | 00001080 || Producing or slaughtered animals | 005321 || animals           6025 non-null   float64
 7   Meat, pig | 00001035 || Producing or slaughtered animals | 005320 || animals              12695 non-null  float64
 8   Meat, lamb and mutton | 00000977 || Producing or slaughtered animals | 005320 || animals  12714 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 974.2+ KB

In [4]:
animals_slaughtered.isna().sum()

Entity                                                                                         0
Code                                                                                        2579
Year                                                                                           0
Meat, cattle | 00000867 || Producing or slaughtered animals | 005320 || animals              270
Meat, goat | 00001017 || Producing or slaughtered animals | 005320 || animals               1466
Meat, chicken | 00001058 || Producing or slaughtered animals | 005321 || animals             124
Meat, turkey | 00001080 || Producing or slaughtered animals | 005321 || animals             7828
Meat, pig | 00001035 || Producing or slaughtered animals | 005320 || animals                1158
Meat, lamb and mutton | 00000977 || Producing or slaughtered animals | 005320 || animals    1139
dtype: int64

In [5]:
animals_slaughtered

,Entity,Code,Year,"Meat, cattle | 00000867 || Producing or slaughtered animals | 005320 || animals","Meat, goat | 00001017 || Producing or slaughtered animals | 005320 || animals","Meat, chicken | 00001058 || Producing or slaughtered animals | 005321 || animals","Meat, turkey | 00001080 || Producing or slaughtered animals | 005321 || animals","Meat, pig | 00001035 || Producing or slaughtered animals | 005320 || animals","Meat, lamb and mutton | 00000977 || Producing or slaughtered animals | 005320 || animals"
0,Afghanistan,AFG,1961,360000.0,940000.0,7000000.0,NaN,NaN,4336000.0
1,Afghanistan,AFG,1962,384000.0,875000.0,7500000.0,NaN,NaN,4355000.0
2,Afghanistan,AFG,1963,396000.0,810000.0,7700000.0,NaN,NaN,4673000.0
3,Afghanistan,AFG,1964,402000.0,750000.0,8000000.0,NaN,NaN,5010000.0
4,Afghanistan,AFG,1965,408000.0,875000.0,8500000.0,NaN,NaN,5179000.0
...,...,...,...,...,...,...,...,...,...
13848,Zimbabwe,ZWE,2016,284689.0,1430664.0,58000000.0,28000.0,420577.0,43166.0
13849,Zimbabwe,ZWE,2017,262990.0,2006078.0,60000000.0,29000.0,211228.0,29918.0
13850,Zimbabwe,ZWE,2018,266228.0,2099581.0,57000000.0,30000.0,174010.0,23767.0
13851,Zimbabwe,ZWE,2019,235027.0,2060377.0,58333000.0,30000.0,193820.0,31884.0
13852,Zimbabwe,ZWE,2020,231257.0,2089283.0,58444000.0,31000.0,183923.0,32462.0

In [11]:
global_production

,Entity,Code,Year,"Meat, game | 00001163 || Production | 005510 || tonnes","Meat, duck | 00001069 || Production | 005510 || tonnes","Meat, horse | 00001097 || Production | 005510 || tonnes","Meat, camel | 00001127 || Production | 005510 || tonnes","Meat, goose and guinea fowl | 00001073 || Production | 005510 || tonnes","Meat, sheep and goat | 00001807 || Production | 005510 || tonnes","Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes","Meat, pig | 00001035 || Production | 005510 || tonnes","Meat, poultry | 00001808 || Production | 005510 || tonnes"
0,Afghanistan,AFG,1961,4000.0,NaN,NaN,3600.0,NaN,73220.0,43000.0,NaN,5600.0
1,Afghanistan,AFG,1962,4000.0,NaN,NaN,4031.0,NaN,72375.0,45800.0,NaN,6000.0
2,Afghanistan,AFG,1963,5000.0,NaN,NaN,5031.0,NaN,75530.0,47250.0,NaN,6160.0
3,Afghanistan,AFG,1964,5000.0,NaN,NaN,4680.0,NaN,79750.0,48000.0,NaN,6400.0
4,Afghanistan,AFG,1965,6000.0,NaN,NaN,4320.0,NaN,84375.0,48700.0,NaN,6800.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13843,Zimbabwe,ZWE,2016,35935.0,57.0,NaN,NaN,NaN,17776.0,64805.0,23091.0,66875.0
13844,Zimbabwe,ZWE,2017,36328.0,56.0,NaN,NaN,NaN,24499.0,60138.0,11602.0,69178.0
13845,Zimbabwe,ZWE,2018,36418.0,54.0,NaN,NaN,NaN,25537.0,60619.0,9562.0,65727.0
13846,Zimbabwe,ZWE,2019,36623.0,52.0,NaN,NaN,NaN,25180.0,53560.0,10651.0,67260.0
13847,Zimbabwe,ZWE,2020,36828.0,51.0,NaN,NaN,NaN,25535.0,52745.0,10107.0,67389.0

In [9]:
global_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13848 entries, 0 to 13847
Data columns (total 12 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Entity                                                                   13848 non-null  object
 1   Code                                                                     11269 non-null  object
 2   Year                                                                     13848 non-null  int64
 3   Meat, game | 00001163 || Production | 005510 || tonnes                   5694 non-null   float64
 4   Meat, duck | 00001069 || Production | 005510 || tonnes                   6903 non-null   float64
 5   Meat, horse | 00001097 || Production | 005510 || tonnes                  6687 non-null   float64
 6   Meat, camel | 00001127 || Production | 005510 || tonnes                  3442 non-null   float64
 7   Meat, goose and guinea fowl | 00001073 || Production | 005510 || tonnes  4498 non-null   float64
 8   Meat, sheep and goat | 00001807 || Production | 005510 || tonnes         13275 non-null  float64
 9   Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes       13578 non-null  float64
 10  Meat, pig | 00001035 || Production | 005510 || tonnes                    12654 non-null  float64
 11  Meat, poultry | 00001808 || Production | 005510 || tonnes                13733 non-null  float64
dtypes: float64(9), int64(1), object(2)
memory usage: 1.3+ MB

In [10]:
global_production.isna().sum()

Entity                                                                         0
Code                                                                        2579
Year                                                                           0
Meat, game | 00001163 || Production | 005510 || tonnes                      8154
Meat, duck | 00001069 || Production | 005510 || tonnes                      6945
Meat, horse | 00001097 || Production | 005510 || tonnes                     7161
Meat, camel | 00001127 || Production | 005510 || tonnes                    10406
Meat, goose and guinea fowl | 00001073 || Production | 005510 || tonnes     9350
Meat, sheep and goat | 00001807 || Production | 005510 || tonnes             573
Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes           270
Meat, pig | 00001035 || Production | 005510 || tonnes                       1194
Meat, poultry | 00001808 || Production | 005510 || tonnes                    115
dtype: int64

In [12]:
meat_per_person = pd.read_csv('../data/meat-supply-per-person.csv')

In [13]:
meat_per_person

,Entity,Code,Year,"Meat food supply quantity (kg/capita/yr) (FAO, 2020)"
0,Afghanistan,AFG,1961,14.45
1,Afghanistan,AFG,1962,14.46
2,Afghanistan,AFG,1963,14.88
3,Afghanistan,AFG,1964,15.07
4,Afghanistan,AFG,1965,15.38
...,...,...,...,...
11023,Zimbabwe,ZWE,2013,18.24
11024,Zimbabwe,ZWE,2014,17.91
11025,Zimbabwe,ZWE,2015,17.81
11026,Zimbabwe,ZWE,2016,18.01
11027,Zimbabwe,ZWE,2017,17.67

In [14]:
meat_per_person.rename(columns={'Meat food supply quantity (kg/capita/yr) (FAO, 2020)': 'kg/capita/yr'}, inplace=True)

In [15]:
meat_per_person

            Entity Code  Year  kg/capita/yr
0      Afghanistan  AFG  1961         14.45
1      Afghanistan  AFG  1962         14.46
2      Afghanistan  AFG  1963         14.88
3      Afghanistan  AFG  1964         15.07
4      Afghanistan  AFG  1965         15.38
...            ...  ...   ...           ...
11023     Zimbabwe  ZWE  2013         18.24
11024     Zimbabwe  ZWE  2014         17.91
11025     Zimbabwe  ZWE  2015         17.81
11026     Zimbabwe  ZWE  2016         18.01
11027     Zimbabwe  ZWE  2017         17.67

[11028 rows x 4 columns]

In [18]:
meat_per_person['lbs/capita/yr']=round(meat_per_person['kg/capita/yr']*2.2046,2)

In [19]:
meat_per_person

            Entity Code  Year  kg/capita/yr  lbs/capita/yr
0      Afghanistan  AFG  1961         14.45          31.86
1      Afghanistan  AFG  1962         14.46          31.88
2      Afghanistan  AFG  1963         14.88          32.80
3      Afghanistan  AFG  1964         15.07          33.22
4      Afghanistan  AFG  1965         15.38          33.91
...            ...  ...   ...           ...            ...
11023     Zimbabwe  ZWE  2013         18.24          40.21
11024     Zimbabwe  ZWE  2014         17.91          39.48
11025     Zimbabwe  ZWE  2015         17.81          39.26
11026     Zimbabwe  ZWE  2016         18.01          39.70
11027     Zimbabwe  ZWE  2017         17.67          38.96

[11028 rows x 5 columns]

In [20]:
dp_live = pd.read_csv('../data/DP_LIVE_26102022231245819.csv')

In [32]:
dp_live.head(20)

   LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value
0       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990   0.000
1       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1991  27.942
2       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1992  26.405
3       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1993  26.370
4       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1994  25.662
5       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1995  25.526
6       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1996  27.453
7       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1997  29.000
8       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1998  26.765
9       AUS  MEATCONSUMP    BEEF  KG_CAP         A  1999  28.095
10      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2000  26.515
11      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2001  24.606
12      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2002  25.263
13      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2003  25.958
14      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2004  28.719
15      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2005  27.190
16      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2006  27.030
17      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2007  24.166
18      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2008  23.343
19      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2009  23.454

In [30]:
dp_live.drop('Flag Codes',axis=1, inplace=True)

In [31]:
dp_live

      LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value
0          AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990   0.000
1          AUS  MEATCONSUMP    BEEF  KG_CAP         A  1991  27.942
2          AUS  MEATCONSUMP    BEEF  KG_CAP         A  1992  26.405
3          AUS  MEATCONSUMP    BEEF  KG_CAP         A  1993  26.370
4          AUS  MEATCONSUMP    BEEF  KG_CAP         A  1994  25.662
...        ...          ...     ...     ...       ...   ...     ...
12155      GBR  MEATCONSUMP   SHEEP  KG_CAP         A  2025   3.861
12156      GBR  MEATCONSUMP   SHEEP  KG_CAP         A  2026   3.847
12157      GBR  MEATCONSUMP   SHEEP  KG_CAP         A  2027   3.836
12158      GBR  MEATCONSUMP   SHEEP  KG_CAP         A  2028   3.826
12159      GBR  MEATCONSUMP   SHEEP  KG_CAP         A  2029   3.814

[12160 rows x 7 columns]